Repository vintasoftware/django-react-boilerplate: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tsc, missing-migrations, backend-schema, frontend-api

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
        exclude: >
          (?x)^(
              package-lock\.json
          )$
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: detect-private-key
  - repo: https://github.com/adamchainz/django-upgrade
    rev: "1.15.0"
    hooks:
      - id: django-upgrade
        args: [--target-version, "5.0"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: eslint
        name: eslint-local
        entry: npm run lint
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx)$
        exclude: >
          (?x)^(
            .+\.config\.js|
            .+\.setup\.js|
            \.eslintrc\.js
          )$
        pass_filenames: true
      - id: tsc
        name: tsc-local
        entry: npm run tsc
        language: system
        types: [file]
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: missing-migrations
        name: missing-migrations-local
        entry: poetry run python backend/manage.py makemigrations --check
        language: system
        # Only run missing migration check if migration-generating files have changed:
        files: (.*/?(settings|migrations|models)/.+|.+models\.py|.+constants\.py|.+choices\.py|.+pyproject\.toml)
        pass_filenames: false
      - id: backend-schema
        name: backend-schema-local
        entry: poetry run python backend/manage.py spectacular --color --file backend/schema.yml
        language: system
        files: ^backend/
        pass_filenames: false
      - id: frontend-api
        name: frontend-api-local
        entry: npm run openapi-ts
        language: system
        files: backend/schema\.yml$
        pass_filenames: false

Move anymail up
  backend/project_name/settings/base.py
Due: missing-migrations, backend-schema

add changes to production.py
  README.md
  backend/project_name/settings/base.py
  backend/project_name/settings/production.py
  render.yaml
Due: missing-migrations, backend-schema

remove un-necessary commments
  README.md
  backend/project_name/settings/production.py
Due: missing-migrations, backend-schema

Remove unncessary email settings
  backend/project_name/settings/production.py
Due: missing-migrations, backend-schema

Drop DEFAULT_FROM_EMAIL as it wasn't used before
  backend/project_name/settings/production.py
Due: missing-migrations, backend-schema

Replacing project actions
  github/workflows/main.yml
Due: none

Added package-mode to false
  pyproject.toml
Due: none

Updated poetry version
  .github/workflows/shared-build/action.yml
Due: none

fix: bump poetry to 2.0.1
  backend/Dockerfile
  proj_main.yml
  render.yaml
Due: backend-schema

fix: update action.yml poetry version to 2.0.1
  .github/workflows/shared-build/action.yml
Due: none

Updated sass to 1.77.6
  package.json
Due: none

add clean: true to productionOutput
  webpack.config.js
Due: none

feat: Complete migration to modern tooling stack
  .biomeignore
  .eslintignore
  .eslintrc.js
  .github/workflows/main.yml
  .gitignore
  .husky/pre-commit
  .pre-commit-config.yaml
  .swcrc
  CLAUDE.md
  LICENSE.txt
  Makefile
  README.md
  backend/Dockerfile
  backend/project_name/settings/base.py
  backend/project_name/settings/production.py
  backend/templates/base.html
  backend/vite_loader/__init__.py
  backend/vite_loader/templatetags/__init__.py
  backend/vite_loader/templatetags/vite_loader_tags.py
  biome.json
  frontend/Dockerfile
  frontend/assets/images/index.d.ts
  frontend/js/App.tsx
  frontend/js/api/index.ts
  frontend/js/index.tsx
  frontend/js/pages/Home.tsx
  frontend/js/pages/__tests__/Home.spec.tsx
  frontend/js/utils/index.ts
  index.html
  package.json
  pnpm-lock.yaml
  proj_main.yml
  pyproject.toml
  render.yaml
  render_build.sh
  tsconfig.json
  uv.lock
  vite.config.mts
  webpack.config.js
Due: eslint, tsc, missing-migrations, backend-schema

fix: Update GitHub Actions workflow and exclude from Biome
  .biomeignore
  .github/workflows/main.yml
Due: none

fix: Update GitHub Actions workflow for UV and proper paths
  .github/workflows/main.yml
  package.json
Due: none

fix: Fix ruff configuration and template variables
  backend/users/tasks.py
  backend/vite_loader/templatetags/vite_loader_tags.py
  pyproject.toml
Due: backend-schema

fix: Add ruff exceptions for test utility file
  pyproject.toml
Due: none

fix: Add ruff exceptions for Django settings files
  pyproject.toml
Due: none

fix: Apply ruff auto-fixes
  backend/vite_loader/templatetags/vite_loader_tags.py
  uv.lock
Due: backend-schema

fix: Apply ruff-format formatting
  backend/project_name/settings/base.py
  backend/users/tests/test_views.py
  backend/vite_loader/templatetags/vite_loader_tags.py
Due: missing-migrations, backend-schema

fix: Move sentry-sdk to main dependencies and add django-guid
  pyproject.toml
Due: none

fix: Add django-log-request-id dependency
  pyproject.toml
Due: none

fix: Add remaining missing dependencies
  pyproject.toml
Due: none

fix: Add django-model-utils and model-bakery dependencies
  pyproject.toml
Due: none

fix: Adjust model-bakery version constraint
  pyproject.toml
Due: none

fix: Replace template variables with project_name
  backend/manage.py
  backend/project_name/celery.py
  backend/project_name/settings/base.py
  backend/project_name/wsgi.py
Due: missing-migrations, backend-schema

fix: Update GitHub workflows for new tooling
  .github/workflows/main.yml
  .github/workflows/shared-build/action.yml
Due: none

fix: Add missing user migrations and update formatting
  backend/users/migrations/0001_initial.py
  jest.config.js
  jest.setup.js
  openapi-ts.config.ts
  uv.lock
Due: eslint, tsc, missing-migrations, backend-schema

fix: Add generated backend schema
  backend/schema.yml
Due: backend-schema, frontend-api

fix: Generate TypeScript API client from updated schema
  frontend/js/api/core/ApiError.ts
  frontend/js/api/core/ApiRequestOptions.ts
  frontend/js/api/core/ApiResult.ts
  frontend/js/api/core/CancelablePromise.ts
  frontend/js/api/core/OpenAPI.ts
  frontend/js/api/core/request.ts
  frontend/js/api/index.ts
  frontend/js/api/schemas.gen.ts
  frontend/js/api/services.gen.ts
  frontend/js/api/types.gen.ts
Due: eslint, tsc

fix: Disable biome linting for generated API files
  biome.json
Due: none

fix: Skip frontend-api hook in CI pre-commit
  .github/workflows/main.yml
Due: none

fix: Add missing django-csp dependency
  pyproject.toml
  uv.lock
Due: none

fix: Add missing django-permissions-policy dependency
  pyproject.toml
  uv.lock
Due: none

fix: Configure SWC for automatic JSX runtime
  .swcrc
  frontend/js/App.tsx
  frontend/js/api/core/ApiError.ts
  frontend/js/api/core/ApiRequestOptions.ts
  frontend/js/api/core/ApiResult.ts
  frontend/js/api/core/CancelablePromise.ts
  frontend/js/api/core/OpenAPI.ts
  frontend/js/api/core/request.ts
  frontend/js/api/index.ts
  frontend/js/api/schemas.gen.ts
  frontend/js/api/services.gen.ts
  frontend/js/api/types.gen.ts
  frontend/js/index.tsx
  frontend/js/pages/Home.tsx
  frontend/js/pages/__tests__/Home.spec.tsx
Due: eslint, tsc

docs: Add explicit warning about not creating PRs to upstream
  CLAUDE.md
Due: none

refactor: Simplify main workflow to use shared-build action
  .github/workflows/main.yml
  .gitignore
Due: none
