Repository vintasoftware/django-react-boilerplate: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tsc, missing-migrations, backend-schema, frontend-api

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
        exclude: >
          (?x)^(
              package-lock\.json
          )$
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: detect-private-key
  - repo: https://github.com/adamchainz/django-upgrade
    rev: "1.15.0"
    hooks:
      - id: django-upgrade
        args: [--target-version, "5.0"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: eslint
        name: eslint-local
        entry: npm run lint
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx)$
        exclude: >
          (?x)^(
            .+\.config\.js|
            .+\.setup\.js|
            \.eslintrc\.js
          )$
        pass_filenames: true
      - id: tsc
        name: tsc-local
        entry: npm run tsc
        language: system
        types: [file]
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: missing-migrations
        name: missing-migrations-local
        entry: poetry run python backend/manage.py makemigrations --check
        language: system
        # Only run missing migration check if migration-generating files have changed:
        files: (.*/?(settings|migrations|models)/.+|.+models\.py|.+constants\.py|.+choices\.py|.+pyproject\.toml)
        pass_filenames: false
      - id: backend-schema
        name: backend-schema-local
        entry: poetry run python backend/manage.py spectacular --color --file backend/schema.yml
        language: system
        files: ^backend/
        pass_filenames: false
      - id: frontend-api
        name: frontend-api-local
        entry: npm run openapi-ts
        language: system
        files: backend/schema\.yml$
        pass_filenames: false

🐛 fix: proj_main template syntax
  proj_main.yml
Due: none

🐛 fix: proj_main template syntax
  .github/workflows/shared-build/action.yml
  proj_main.yml
Due: none

♻️ use django 5 in the github action
  .github/workflows/shared-build/action.yml
Due: none

🐛 fix: proj_main lockfile hash
  proj_main.yml
Due: none

🐛 fix: remove deps update from the ci
  .github/workflows/shared-build/action.yml
Due: none

✨ feat: upgrade node and other libs
  .eslintignore
  .eslintrc.js
  .github/workflows/shared-build/action.yml
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.js
  eslint.config.mjs
  frontend/Dockerfile
  frontend/assets/images/index.d.ts
  frontend/css/style.css
  frontend/js/App.tsx
  frontend/js/api/index.ts
  frontend/js/components/TopNav.tsx
  frontend/js/components/index.ts
  frontend/js/index.tsx
  frontend/js/loaders/index.ts
  frontend/js/loaders/users.ts
  frontend/js/pages/Home.tsx
  frontend/js/pages/Users.tsx
  frontend/js/pages/__tests__/Home.spec.tsx
  frontend/js/routes/index.ts
  frontend/js/types/assets.d.ts
  frontend/js/utils/index.ts
  jest.config.js
  jest.setup.js
  openapi-ts.config.ts
  package.json
  pnpm-lock.yaml
  proj_main.yml
  webpack.config.js
Due: eslint, tsc

🐛 fix: update the parserOption project option
  eslint.config.mjs
Due: none

🐛 fix: add the openapi-ts config file to the tsconfig
  tsconfig.json
Due: none

🐛 fix: tests
  frontend/js/pages/__tests__/Home.spec.tsx
  package.json
Due: eslint, tsc

Replacing project actions
  github/workflows/main.yml
Due: none

feat: Upgrade to Python 3.13, Node 22, ty type checker, and latest packages
  .biomeignore
  .github/workflows/shared-build/action.yml
  backend/Dockerfile
  docs/product_requirements/upgrade-ty-and-packages.md
  frontend/Dockerfile
  package.json
  pnpm-lock.yaml
  pyproject.toml
  render.yaml
Due: backend-schema

fix: change frontend/js/index extension
  backend/templates/common/index.html
Due: backend-schema

⬆️ upgrade: upgrade django to 5.2
  pyproject.toml
Due: none

✨ feat: session engine configuration
  Makefile
  backend/project_name/settings/base.py
Due: missing-migrations, backend-schema

✨ feat: improve the gunicorn logging in the development server
  backend/Dockerfile
Due: backend-schema

🐛 fix: use in-memory cache for tests
  backend/project_name/settings/test.py
Due: missing-migrations, backend-schema

🐛 fix: remove hardcoded project name
  backend/Dockerfile
Due: backend-schema

Fix user creation and patch/put assertions in tests
  backend/users/tests/test_views.py
Due: backend-schema
