Repository vintasoftware/django-react-boilerplate: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tsc, missing-migrations, backend-schema, frontend-api

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
        exclude: >
          (?x)^(
              package-lock\.json
          )$
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: detect-private-key
  - repo: https://github.com/adamchainz/django-upgrade
    rev: "1.15.0"
    hooks:
      - id: django-upgrade
        args: [--target-version, "5.0"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: eslint
        name: eslint-local
        entry: npm run lint
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx)$
        exclude: >
          (?x)^(
            .+\.config\.js|
            .+\.setup\.js|
            \.eslintrc\.js
          )$
        pass_filenames: true
      - id: tsc
        name: tsc-local
        entry: npm run tsc
        language: system
        types: [file]
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: missing-migrations
        name: missing-migrations-local
        entry: poetry run python backend/manage.py makemigrations --check
        language: system
        # Only run missing migration check if migration-generating files have changed:
        files: (.*/?(settings|migrations|models)/.+|.+models\.py|.+constants\.py|.+choices\.py|.+pyproject\.toml)
        pass_filenames: false
      - id: backend-schema
        name: backend-schema-local
        entry: poetry run python backend/manage.py spectacular --color --file backend/schema.yml
        language: system
        files: ^backend/
        pass_filenames: false
      - id: frontend-api
        name: frontend-api-local
        entry: npm run openapi-ts
        language: system
        files: backend/schema\.yml$
        pass_filenames: false

fix: Remove deprecated pnpm flags in shared-build action
  .github/workflows/shared-build/action.yml
Due: none

fix: Convert project_name to template variable throughout codebase
  backend/manage.py
  backend/users/tasks.py
  backend/{{project_name}}/__init__.py
  backend/{{project_name}}/celery.py
  backend/{{project_name}}/celerybeat_schedule.py
  backend/{{project_name}}/settings/__init__.py
  backend/{{project_name}}/settings/base.py
  backend/{{project_name}}/settings/local.py.example
  backend/{{project_name}}/settings/local_base.py
  backend/{{project_name}}/settings/production.py
  backend/{{project_name}}/settings/test.py
  backend/{{project_name}}/urls.py
  backend/{{project_name}}/wsgi.py
  pyproject.toml
Due: missing-migrations, backend-schema

fix: Add pyproject.toml to --name parameter in shared-build
  .github/workflows/shared-build/action.yml
Due: none

debug: Add directory structure debugging to shared-build
  .github/workflows/shared-build/action.yml
Due: none

fix: Work around uv looking up directory tree for pyproject.toml
  .github/workflows/shared-build/action.yml
Due: none

fix: Update settings path after project name templating
  .github/workflows/shared-build/action.yml
Due: none

debug: Add backend structure debugging
  .github/workflows/shared-build/action.yml
Due: none

fix: Use proper Django template syntax with spaces
  .github/workflows/shared-build/action.yml
  backend/manage.py
  backend/project_name/__init__.py
  backend/project_name/celery.py
  backend/project_name/celerybeat_schedule.py
  backend/project_name/settings/__init__.py
  backend/project_name/settings/base.py
  backend/project_name/settings/local.py.example
  backend/project_name/settings/local_base.py
  backend/project_name/settings/production.py
  backend/project_name/settings/test.py
  backend/project_name/urls.py
  backend/project_name/wsgi.py
  backend/users/tasks.py
  package.json
  pyproject.toml
Due: missing-migrations, backend-schema

fix: Keep pyproject.toml renamed throughout workflow
  .github/workflows/shared-build/action.yml
Due: none

fix: Use template syntax in settings/base.py
  backend/project_name/settings/base.py
Due: missing-migrations, backend-schema

fix: Remove uv run from commands to use system Python
  .github/workflows/shared-build/action.yml
Due: none

Update readme
  README.md
Due: none

fix: Fix nightly test failures by addressing Biome linting issues
  .gitignore
  frontend/js/App.tsx
  frontend/js/index.tsx
  frontend/js/pages/Home.tsx
  frontend/js/pages/__tests__/Home.spec.tsx
  package.json
Due: eslint, tsc

fix: Revert template parameter changes
  .gitignore
  package.json
Due: none

fix: Remove unnecessary deploy workflow from fork
  .github/workflows/deploy.yml
Due: none

fix: Fix Biome linting issues and gitignore template variable
  .gitignore
  frontend/js/App.tsx
  frontend/js/index.tsx
  frontend/js/pages/Home.tsx
  frontend/js/pages/__tests__/Home.spec.tsx
Due: eslint, tsc

⬆️ add: add tailwind and remove bootstrap from the package.json
  package.json
Due: none

✨ feat: remove sass and configure tailwind
  backend/templates/common/index.html
  frontend/css/style.css
  frontend/css/tailwind.css
  frontend/js/index.tsx
  frontend/js/pages/Home.tsx
  frontend/sass/_global.scss
  frontend/sass/_variables.scss
  frontend/sass/components/_all.scss
  frontend/sass/helpers/_all.scss
  frontend/sass/helpers/_functions.scss
  frontend/sass/helpers/_helpers.scss
  frontend/sass/helpers/_mixins.scss
  frontend/sass/helpers/_placeholders.scss
  frontend/sass/helpers/_typography.scss
  frontend/sass/pages/_all.scss
  frontend/sass/vendor/_bootstrap-includes.scss
  frontend/sass/vendor/custom-bootstrap.scss
  postcss.config.mjs
  webpack.config.js
Due: eslint, tsc, backend-schema

🐛 fix: fix render deploy and update documentation
  README.md
  backend/project_name/settings/base.py
  pyproject.toml
  render.yaml
  render_build.sh
Due: missing-migrations, backend-schema

🐛 fix: fix the package-lock generation
  Makefile
Due: none

🐛 fix: fix deploy
  Makefile
  docker-compose.yml
  render_build.sh
Due: none

🔧 chore: merge tailwind and style files and create inline utility css classes
  backend/templates/common/index.html
  frontend/css/style.css
  frontend/css/tailwind.css
  frontend/js/index.tsx
  frontend/js/pages/Home.tsx
Due: eslint, tsc, backend-schema

Replacing project actions
  github/workflows/main.yml
Due: none

⬆️ upgrade: react-router to 7.9.0
  package.json
Due: none

✨ feat: add react-router examples
  backend/common/urls.py
  frontend/css/style.css
  frontend/css/users.css
  frontend/js/App.tsx
  frontend/js/components/TopNav.tsx
  frontend/js/components/index.ts
  frontend/js/loaders/index.ts
  frontend/js/loaders/users.ts
  frontend/js/pages/Home.tsx
  frontend/js/pages/Users.tsx
  frontend/js/routes/index.ts
  tsconfig.json
Due: eslint, tsc, backend-schema

🐛 fix: add memory router to the tests
  frontend/js/pages/__tests__/Home.spec.tsx
  jest.setup.js
Due: eslint, tsc

✨ feat: update users css
  frontend/css/users.css
Due: none

♻️ refactor: sourcery review suggestions
  frontend/css/users.css
  frontend/js/pages/Users.tsx
Due: eslint, tsc

♻️ refactor: remove all @apply and use inline styling
  backend/templates/common/index.html
  backend/templates/defender/lockout.html
  frontend/css/style.css
  frontend/css/users.css
  frontend/js/components/TopNav.tsx
  frontend/js/pages/Home.tsx
  frontend/js/pages/Users.tsx
  frontend/js/utils/index.ts
  frontend/js/utils/navigation.ts
Due: eslint, tsc, backend-schema

♻️ refactor: add the @ alias for imports
  frontend/js/index.tsx
  frontend/js/loaders/users.ts
  frontend/js/pages/Home.tsx
  frontend/js/pages/__tests__/Home.spec.tsx
  frontend/js/routes/index.ts
  frontend/js/types/assets.d.ts
  jest.config.js
  tsconfig.json
  webpack.config.js
Due: eslint, tsc

✨ feat: migrate from npm to pnpm
  .npmrc
  Makefile
  README.md
  frontend/Dockerfile
  package.json
  pnpm-lock.yaml
  render_build.sh
  webpack.config.js
Due: none

🐛 fix: copy/paste
  Makefile
Due: none

✨ feat: update the github action
  .github/workflows/shared-build/action.yml
Due: none

✨ feat: migrate the proj_main
  proj_main.yml
Due: none

♻️ refactor: sourcery suggestions
  .github/workflows/shared-build/action.yml
  proj_main.yml
Due: none

🐛 fix: typo
  .github/workflows/shared-build/action.yml
Due: none

♻️ refactor: add verify pnpm is available step
  .github/workflows/shared-build/action.yml
  proj_main.yml
Due: none

♻️ refactor: install pnpm before node setup
  .github/workflows/shared-build/action.yml
  proj_main.yml
Due: none

♻️ refactor: remove the pnpm version from action to use only the version in the package.json
  .github/workflows/shared-build/action.yml
  proj_main.yml
Due: none
